.hero__part {
  background-color: rgb(17, 0, 255);
  padding: 2em 2em;
}

.hero__container {
  display: flex;
  padding: 2em 1em;
  gap: 3rem;
}

.contact {
  display: flex;
  background-color: burlywood;
  padding: 2em 2em;
  justify-content: space-between;
  color: aliceblue;
}

.contact__left {
  padding: 2em 8em;
}

.contact__container {
  display: flex;
}

.input {
  padding: 4em 4em;
  border-radius: 20px;
  display: flex;
  gap: 2rem;
}