* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.nav {
  background-color: gray;
}
.nav__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 2em;
}
.nav__center ul li {
  padding: 1em;
}
.nav__center ul li:hover {
  background-color: blue;
  border-radius: 2em;
}
.nav__center ul li a {
  text-decoration: none;
  color: black;
  color: white;
}
.nav .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  color: white;
}

.hero__part {
  background-color: rgb(17, 0, 255);
  padding: 2em 2em;
}

.hero__container {
  display: flex;
  padding: 2em 1em;
  gap: 3rem;
}

.hero__part {
  background-color: rgb(17, 0, 255);
  padding: 2em 2em;
}

.hero__container {
  display: flex;
  padding: 2em 1em;
  gap: 3rem;
}

.contact__left {
  padding-top: 2em;
}

.contact__container {
  display: flex;
  background-color: wheat;
}

.input {
  padding: 2em 2em;
  border-radius: 20px;
}