* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.nav {
  background-color: gray;
}
.nav__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 2em;
}
.nav__center ul li {
  padding: 1em;
}
.nav__center ul li:hover {
  background-color: blue;
  border-radius: 2em;
}
.nav__center ul li a {
  text-decoration: none;
  color: black;
  color: white;
}
.nav .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  color: white;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/NYS-CIty-Queens-vs-Nakuru-City-Queens.jpg") no-repeat center center/cover;
  height: 100vh;
}
.hero__part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  height: 100vh;
  color: white;
}

.main {
  margin: 50px 0;
  height: 50vh;
}
.main img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.main__section--img {
  box-sizing: border-box;
  box-shadow: 0 0 2px;
  height: 40vh;
  text-align: center;
  border-radius: 2em;
  background-color: white;
}
.main__section--btn {
  padding: 20px 20px;
  border: none;
  border-radius: 1em;
  color: white;
  background-color: black;
  cursor: pointer;
  margin: 0 auto;
}