* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.nav {
  background-color: gray;
}
.nav__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 2em;
}
.nav__center ul li {
  padding: 1em;
}
.nav__center ul li:hover {
  background-color: blue;
  border-radius: 2em;
}
.nav__center ul li a {
  text-decoration: none;
  color: black;
  color: white;
}
.nav .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  color: white;
}

.hero {
  background: url("../../images/Untitled design.png") no-repeat center center/cover;
  height: 100vh;
  position: relative;
}