@use "../utilities/mixins" as *;

.main {
  margin: 50px 0;

  h2 {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
  }
  img {
    @include flex(center, center);
  }
  &__section {
    @include flex(center, center);

    gap: 3em;
  }
  &__section--img {
    box-sizing: border-box;
    box-shadow: 0 0 2px;
    height: 40vh;
    text-align: center;
    border-radius: 2em;
    background-color: white;
    padding: 50px 0;
  }
  &__section--btn {
    padding: 20px 20px;
    border: none;
    border-radius: 1em;
    color: white;
    background-color: black;
    cursor: pointer;
    margin: 0 auto;
  }
  @media screen and (max-width: 614px) {
   .main__drug--img{
    flex: 1;
    flex-direction: column;

    &__section--part{
      flex: 1;
      flex-direction: column;
      img{
        display: none;
      }
     
    }
   }
    
    .main__section {
      flex-direction: column;

      &__section--img {
        flex: 1;
      }
    }
  }
}
.main__drug--img {
  background-color: #2a2a2a;
  margin: 0 auto;
  width: 60%;
  box-sizing: border-box;
  box-shadow: 0 0 2px #2a2a2a;
  border-radius: 1em;
  padding: 40px 20px;
  
}
.main__section--part {
  @include flex(space-between, center);
  gap: 2em;
  box-sizing: border-box;
  box-shadow: 0 0 2px white;
  border-radius: 1em;
  padding: 40px 20px;
  background-color: white;
  margin-bottom: 30px;
}

.main-2 {
  &__categories {
    @include flex(center, center);
  }

  &__shop {
    @include flex(center, center);
    // background-color: red;
    height: 50vh;
    gap: 5em;
  }
  &__shop--page {
    @include flex(center, center);
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 2px black;
    border-radius: 2em;
    background-color: red;
  }

  &__shop--page-2 {
    @include flex(center, center);
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 2px black;
    border-radius: 2em;
    background-color: blue;
  }
  &__shop--page-3 {
    @include flex(center, center);
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 2px black;
    border-radius: 2em;
    background-color: black;
  }

  @media screen and (max-width: 614px) {
    .main-2 {
      &__categories {
        flex-direction: column;
      }

      &__shop {
        display: none;
        h2{
          display: none;
        }
      }
    }
  }
}
.ufl__lacation {
  @include flex(space-between, center);
  flex-direction: column;
  li {
    list-style-type: none;
  }
}

.pic__items {
  position: relative;
  height: 300px;
  width: 100vw;
  margin-top: 5vh;
}

.pic__items--shop {
  margin: 0 auto;
  width: 10%;
}
.pic__items--btn {
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 2px black;
  border-radius: 2em;
  cursor: pointer;
  border: none;
  background-color: blue;
  color: white;
}
.pic__items img {
  width: 20%;
  height: 100%;
}
@keyframes display {
  0% {
    transform: translate3d(200px);
    opacity: 0;
  }
  10% {
    transform: translate3d(o);
    opacity: 0;
  }
  20% {
    transform: translate3d(0);
    opacity: 1;
  }
  30% {
    transform: translate3d(-200px);
    opacity: 1;
  }
  40% {
    transform: translate3d(-200px);
    opacity: 0;
  }
  100% {
    transform: translate3d(-200px);
    opacity: 0;
  }
}

.pic__items > img {
  position: absolute;
  animation: display 12s infinite;
  left: calc(50% - 200px);
  opacity: 0;
  top: 0;

}
img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}
img:nth-child(6) {
  animation-delay: 10s;
 
  

}
img:nth-child(2) {
  animation-delay: 2s;
}
.pic__items img:nth-child(3) {
  animation-delay: 4s;
}
.pic__items img:nth-child(4) {
  animation-delay: 6s;
}
.pic__items img:nth-child(5) {
  animation-delay: 8s;
}
.pic__items img:nth-child(6) {
  animation-delay: 10s;
}