@use "../utilities/mixins" as *;

.main {
  
  margin: 50px 0;
  
h2{
  flex-wrap: wrap;
  margin: 0 auto;
  width: 70%;
  padding-bottom:20px; 
}
  img{
    @include flex(center, center);
    
  }
  &__section {
    @include flex(center, center);
    
    gap: 3em;
    
  }
  &__section--img {
    box-sizing: border-box;
    box-shadow: 0 0 2px ;
    height: 40vh;
    text-align: center;
    border-radius: 2em;
    background-color: white;
  }
  &__section--btn {
    padding: 20px 20px;
    border: none;
    border-radius: 1em;
    color: white;
    background-color: black;
    cursor: pointer;
    margin: 0 auto;
    

  }
  @media screen and (max-width:414px){
   
   .main__section{
    flex-direction: column;

    &__section--img{
      flex: 1;
    }
   } 

  }
}
