@use "../utilities/mixins" as *;

.main {
  margin: 50px 0;

  h2 {
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
  }
  img {
    @include flex(center, center);
  }
  &__section {
    @include flex(center, center);

    gap: 3em;
  }
  &__section--img {
    box-sizing: border-box;
    box-shadow: 0 0 2px;
    height: 40vh;
    text-align: center;
    border-radius: 2em;
    background-color: white;
  }
  &__section--btn {
    padding: 20px 20px;
    border: none;
    border-radius: 1em;
    color: white;
    background-color: black;
    cursor: pointer;
    margin: 0 auto;
  }
  @media screen and (max-width: 414px) {
    .main__section {
      flex-direction: column;

      &__section--img {
        flex: 1;
      }
    }
  }
}

.main-2 {
  &__categories {
    @include flex(center, center);
  }

  &__shop {
    @include flex(center, center);
    // background-color: red;
    height: 50vh;
    gap: 5em;
  }
  &__shop--page {
    @include flex(center, center);
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 2px black;
    border-radius: 2em;
    background-color: red;
  }

  &__shop--page-2 {
    @include flex(center, center);
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 2px black;
    border-radius: 2em;
    background-color: blue;
  }
  &__shop--page-3 {
    @include flex(center, center);
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 0 2px black;
    border-radius: 2em;
    background-color: black;
  }

  @media screen and (max-width: 414px) {
    .main-2 {
      &__categories {
        flex-direction: column;
      }

      &__shop {
        display: none;
      }
    }
  }
}
.pic__items {
  position: relative;
  height: 300px;
  width: 100vw;
  margin-top: 5vh;
}
.pic__items img {
  width: 15%;
  height: 100%;
}
@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(o);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic__items > img {
  position: absolute;
  animation: dispaly 12s infinite;
  opacity: 0;
  left: calc(50% - 100px);
  top: 0;
  img:nth-child(2) {
    animation-delay: 2s;
  }
  .pic__items img:nth-child(3) {
    animation-delay: 4s;
  }
  .pic__items img:nth-child(4) {
    animation-delay: 6s;
  }
  .pic__items img:nth-child(5) {
    animation-delay: 8s;
  }
  .pic__items img:nth-child(6) {
    animation-delay: 10s;
  }
  
}
