@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.hero__part {
  background-color: rgb(17, 0, 255);
  padding: 2em 2em;
}
.hero__container {
  display: flex;
  padding: 2em 1em;
  gap: 3rem;
}
.main {
  background-color:darkblue;
  height: 90vh;
}
.contact {
  color: aliceblue;
  text-align: center;
  padding:2em 2em;
}


.contact__container {
  background-color: white;
  width: 80%;
  display:flex;
  flex-direction: column;
  margin-left: 8rem;
  border-radius: 2%;
  height: 60vh;
}
.input{
  margin-left: 2em;
}
.contact_address{
  color: cadetblue;
  display:flex;
  justify-content: space-evenly;
  margin-left: 2em;
  padding-top: 4em;
}
.contact_mail h3:hover {
  color:lightblue;
  cursor: pointer;
  
}
.contact__border {
  border: solid darkgray 1px;
  width: 100%;
  margin: 0 3em;
}
